{{define "dino"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    <title>Dino Game - 404</title>
    <link rel="stylesheet" href="/static/css/dino.css">
</head>

<body>
    <h1>🦕 Dino Runner</h1>
    <canvas id="board"></canvas>
    <br><br>
    <a href="/">← Retour à l'accueil</a>
    <script src="/static/js/dino.js"></script>
</body>

</html>
{{end}}